#what-we-do{
    padding: 20px !important;
}

#mission {
    padding: 60px !important;

}
#projects{
    padding: 20px !important;
}
#contact-us{
    font-size: 30px !important;
    color: blue !important;
}
